.empty-container {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  image.empty-icon {
    width: 160rpx;
    height: 160rpx;
  }
  .content {
    margin: 40rpx 0;
    font-size: 28rpx;
    color: #666666;
    text-align: center;
  }
  .btn {
    background: #df0000;
    border-radius: 32rpx;
    width: 220rpx;
    height: 60rpx;
    font-size: 32rpx;
    color: #fff;
    text-align: center;
    line-height: 60rpx;
    margin: 60rpx 0 40rpx 0;
  }
}
